.monaco-editor {
  height: 100%;
}

.editor-container {
  position: relative;
  width: calc(100% - 10px);
  height: 100%;

  &:hover .button-format {
    opacity: 1;
  }

  .button-format {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
